<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/admin/login" security="none"/>
    <http pattern="/admin/login?error=*" security="none"/>
    <http pattern="/res/**/*" security="none"/>
    <http pattern="/js/**/*" security="none"/>
    <http pattern="/scripts/**/*" security="none"/>
    <http pattern="/css/**/*" security="none"/>
    <http pattern="/images/**/*" security="none"/>
    <http pattern="/img/**/*" security="none"/>

    <http>
        <intercept-url pattern="/admin/**" access="hasRole('USER')" />
        <intercept-url pattern="/admin/login" access="Anonymous"  />
        <form-login
                login-page="/admin/login"
                username-parameter="j_username"
                password-parameter="j_password"
                default-target-url='/admin/index'
                always-use-default-target='true' />
        <logout invalidate-session="true" logout-url="/j_spring_security_logout"/>
        <csrf disabled="true"/>
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    </http>


    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService" >
            <password-encoder ref="encoder">
                <salt-source user-property="username"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>



    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>
    <!--<beans:bean id="userService" class="com.yuhao.spring.service.MyUserDetailsService"/>
    <beans:bean id="encoder" class="com.yuhao.spring.security.PasswordEncoder"/>-->



</beans:beans>